.layout {
  display: grid;
  grid-template-columns: 50% 0 50%;
  align-items: center;
}

.divider {
  height: 50%;
  border: 1px solid var(--layout-color-3);
}

.description {
  display: grid;
  align-items: center;
  align-self: center;
  justify-self: center;
}