.layout {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.text {
  color: var(--text-color-base);
  margin-top: 1.2rem;

  &:first-child {
    margin-top: unset;
  }
}

.promoBig {
  text-transform: uppercase;
}