@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Work Sans', sans-serif;

  --layout-color-1: rgb(255,255,255);
  --layout-color-2: rgb(0, 0, 0);

  --text-color-base: rgb(0, 0, 0);
  --text-color-base-hovered: rgba(0, 0, 0, .5);

  --text-color-light: rgb(255,255,255);
  --text-color-light-hovered: rgba(255,255,255, .5);

  --primary-color: rgb(32, 129, 226);
  --primary-color-hovered: rgba(32, 129, 226, .5);

  --secondary-color: rgb(210,39,48);
  --secondary-color-hovered: rgba(210,39,48, .5);

  --card-text-color: rgb(0, 0, 0);
  --card-bg-color-1: rgb(36, 52, 7);
  --card-bg-color-2: rgb(210,39,48);
  --card-bg-color-3: rgb(72, 60, 50);
  --card-bg-color-4: rgb(135, 206, 235);

  --header-shadow: rgb(229 232 235 / 0%) 0px 1px 0px 0px;
  --card-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
}