.layout {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(80px, 1fr));
  width: 100%;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
}