.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-light);
    background-color: rgb(24, 104, 183);
}

.link {
    text-decoration: underline;
}

.link:hover {
    transition: 0.5s;
    color: var(--text-color-light-hovered);
}