.header {
    --transition-curve: cubic-bezier(0.05, 0, 0.2, 1);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--layout-color-1);
    /* box-shadow: rgb(229 232 235 / 0%) 0 1px 0 0; */
    box-shadow: rgb(229 232 235) 0 1px 0 0;
    z-index: 120;
    transition: top 0.5s var(--transition-curve), background-color 0.2s var(--transition-curve), box-shadow 0.2s var(--transition-curve),color 0.2s var(--transition-curve);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--primary-color);
    cursor: pointer;
}

.logo span {
    letter-spacing: 5px;
    text-transform: uppercase;
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navItem a {
    cursor: pointer;
    color: var(--text-color-base);
}

.navItem a:hover {
    transition: 0.5s;
    color: var(--text-color-base-hovered);
}